body{background-color: blue}

.box1{border-style: solid; margin: 100px;
height: 400px;}

.text{border: 3px dotted white;}

.smallerhell{height: 300px;
width: 500px;
border: 3px dashed white;
padding: 10px;}
